{{- if .Values.s3.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.s3.secretName }}
  namespace: {{ .Values.namespace.name }}
  annotations:
    serving.kserve.io/s3-endpoint: {{ .Values.s3.endpoint | quote }}
    serving.kserve.io/s3-usehttps: {{ .Values.s3.useHttps | quote }}
    serving.kserve.io/s3-region: {{ .Values.s3.region | quote }}
    serving.kserve.io/s3-useanoncredential: {{ .Values.s3.useAnonymousCredential | quote }}
    {{- with .Values.s3.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: {{ .Values.s3.accessKeyId | quote }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.s3.secretAccessKey | quote }}
{{- end }}
